<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MHRS.UI.Properties.Settings.HastaneRandevuSistemi_MHRS_ConnectionString" connectionString="Data Source=.;Initial Catalog=HastaneRandevuSistemi(MHRS);Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
